@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
:root {
    --light-bg-color: #f1f1f1;
    --main-text-color: #202020;
    --title-color: rgb(110, 110, 110);
    --main-theme-color: green;
  }
*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 200;
}
p{
    font-size: inherit;
    margin: 0;
}
ul{
    font-size: inherit;  
}
header,
section,
footer{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}
header{
    padding: 20px;
}
footer{
    padding: 20px;
}
nav{
    padding: 15px 20px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
nav ul li{
    display: inline-block;
}
nav ul li + li{
    margin-left: 20px;
    margin-top: 0;
}
nav ul li a{
    font-weight: bold;
    font-size: 16px;
}
section{
    padding: 40px;
}
h1{
    font-size: 40px;
    margin: 0 0 0;
}
h2{
    font-size: 30px;
    margin: 0 0 30px;
    color: var(--title-color);
    position: relative;
}
h2:before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background: var(--main-theme-color);
    position: absolute;
    top: calc(100% + 5px);
    border-radius: 2px;
}
h3{
    font-size: 25px;
    margin: 20px 0;
    color: var(--title-color);
}
.bg-1{
    background: var(--light-bg-color);
}
ul, ol{
    margin: 0 0 20px;
}
ul li + li,
ol li + li{
margin-top: 10px;
}
a{
    color: var(--main-theme-color);
    transition: all 0.3s;
}
a:hover{
    color: var(--title-color);
}
section#projects ul{
    list-style: none;
    padding: 0;
    columns: 3;
    width: 700px;
}
section#projects ul li a{
    font-weight: bold;
}
pre{
    font-size: 14px;
    margin: 0;
}
hr{
    border: 0;
    border-top: 5px solid var(--light-bg-color);
    height: 0px;
}



